#mdfilewrapper h1, #mdfilewrapper h2, #mdfilewrapper h3, #mdfilewrapper h4 {
    color: #000;
}
#mdfilewrapper h1, .mdFileWrapper h1 {
	font-size: 1.8em;
}
#mdfilewrapper h2, .mdFileWrapper h2 {
	font-size: 1.6em;
}
#mdfilewrapper h3, .mdFileWrapper h3 {
	font-size: 1.4em;
}
#mdfilewrapper h4, .mdFileWrapper h4 {
	font-size: 1.2em;
}
#mdfilewrapper h1, #mdfilewrapper h2, #mdfilewrapper h3, #mdfilewrapper h4, #mdfilewrapper table tr td, #mdfilewrapper table tr th {
   color: #000!important;
}
#Preview h1, #Preview h2, #Preview h3, #Preview h4, #Preview table tr td, #Preview table tr th {
  color: #000!important;
}


  .mdFileWrapper .mb-15 {margin-bottom: 15px!important;}
  .mdFileWrapper .panel {
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .mdFileWrapper .panel .panel-heading {
    padding: 10px;
  }
  .mdFileWrapper .panel .panel-body textarea {
    height: 550px;
    width: 100%;
    border: 0px;
    font-size: 1.4em;
	line-height: 36px;
  }
  .mdFileWrapper .panel .panel-body #Preview {
    height: 550px;
    overflow-y: auto;
  }
  .mdFileWrapper .panel .panel-heading p {
    margin: 0px;
    float: right;
  }
  .mdFileWrapper button.icon_btn {
    width: 36px;
    height: 36px;
    border: 1px solid #134f83;
    font-size: 16px;
    color: #134f83;
    padding: 0px;
    text-align: center;
  }
  .successfulMsg {
    display: inline-block;
    margin: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
  }